In [3]:
import pandas as pd

In [6]:
file_url = "https://bit.ly/ds01-weight-history"
data = pd.read_csv(file_url, index_col="회차")

data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수  강남구
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [7]:
data.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64', name='회차')

In [8]:
data.columns

Index(['이름', '측정일', '몸무게', '단위', '담당', '지점'], dtype='object')

In [9]:
data.columns

Index(['이름', '측정일', '몸무게', '단위', '담당', '지점'], dtype='object')

In [10]:
data.shape

(9, 6)

In [13]:
data.head(2)

     이름         측정일   몸무게  단위   담당  지점
회차
1   강성희  2019-01-01  76.4  kg  김지수  강남
2   강성희  2019-01-02  75.7  kg  김지수  강남

In [14]:
data.tail(2)

     이름         측정일   몸무게  단위   담당   지점
회차
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

## 기본연산

In [16]:
data["몸무게"].mean()

75.83333333333333

In [17]:
data["몸무게"].max()

76.4

In [18]:
data["몸무게"].describe()

count     6.000000
mean     75.833333
std       0.492612
min      75.000000
25%      75.700000
50%      75.850000
75%      76.150000
max      76.400000
Name: 몸무게, dtype: float64

In [22]:
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수   강남
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [21]:
data["지점"] = data["지점"].replace("강남구","강남")

In [24]:
data["몸무게"] = data["몸무게"].fillna(75.8)

In [25]:
data["몸무게(prev)"] = data["몸무게"].shift(+1)

In [26]:
data["몸무게(next)"] = data["몸무게"].shift(-1)

In [28]:
data["측정일"] = pd.to_datetime(data["측정일"])

In [29]:
data["측정일"].dt.year

회차
1    2019
2    2019
3    2019
4    2019
5    2019
6    2019
7    2019
8    2019
9    2019
Name: 측정일, dtype: int64

## 행열 검색

In [30]:
data[["이름","측정일","몸무게"]]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
2   강성희 2019-01-02  75.7
3   강성희 2019-01-03  76.0
4   강성희 2019-01-04  75.8
5   강성희 2019-01-05  76.2
6   강성희 2019-01-06  75.7
7   강성희 2019-01-07  75.8
8   강성희 2019-01-08  75.8
9   강성희 2019-01-09  75.0

In [31]:
data.loc[1]

이름                           강성희
측정일          2019-01-01 00:00:00
몸무게                         76.4
단위                            kg
담당                           김지수
지점                            강남
몸무게(prev)                    NaN
몸무게(next)                   75.7
Name: 1, dtype: object

In [32]:
data.loc[2]

이름                           강성희
측정일          2019-01-02 00:00:00
몸무게                         75.7
단위                            kg
담당                           김지수
지점                            강남
몸무게(prev)                   76.4
몸무게(next)                     76
Name: 2, dtype: object

In [34]:
data.loc[[1,2,3]]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       75.8

In [35]:
data.loc[1:7]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8

In [38]:
%timeit data.loc[1,"이름"] # 퍼포먼스가 더 좋음

8.33 µs ± 618 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [39]:
%timeit data.loc[1]["이름"]

191 µs ± 12.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [40]:
data.loc[[1,3,7],["이름","측정일","몸무게"]] # 변수에 담아놓고 사용해야함

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
3   강성희 2019-01-03  76.0
7   강성희 2019-01-07  75.8

In [41]:
%timeit data.loc[1,"이름"]

8.35 µs ± 105 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [42]:
%timeit data.at[1,"이름"]

4.75 µs ± 52.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

## 색인

In [44]:
data[data["담당"] == "김지수"]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수  강남       75.8       75.7

In [45]:
data[data["몸무게"] > 75 ]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0

In [46]:
data[data["담당"].isin(["최지우","김민철"])]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [48]:
data[data["담당"].str.contains("김")]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [49]:
data[data["몸무게(prev)"].isnull()]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7

In [50]:
data[data["몸무게(prev)"].notnull()]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [52]:
data[(data["몸무게"] > 75) & (data["담당"].str.contains("김"))]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0

In [54]:
high = data["몸무게"] > 75

In [55]:
kim = data["담당"].str.contains("김")

In [56]:
data[high & kim]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0

In [57]:
data[high | kim]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [61]:
data.loc[high & kim,["몸무게","이름","측정일"]]

     몸무게   이름        측정일
회차
1   76.4  강성희 2019-01-01
2   75.7  강성희 2019-01-02
3   76.0  강성희 2019-01-03
5   76.2  강성희 2019-01-05
8   75.8  강성희 2019-01-08

## 컬럼추가 수정

In [67]:
data["지역"] = "서울"

In [68]:
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)  지역
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7  서울
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0  서울
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8  서울
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2  서울
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7  서울
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8  서울
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8  서울
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0  서울
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN  서울

In [70]:
data["결제"] = [True,True,True,True,False,True,True,False,True]
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)  지역     결제
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7  서울   True
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0  서울   True
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8  서울   True
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2  서울   True
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7  서울  False
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8  서울   True
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8  서울   True
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0  서울  False
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN  서울   True

## 피벗 테이블

In [72]:
pd.pivot_table(data,index=["지점","담당"],values="몸무게", aggfunc='sum')

           몸무게
지점  담당
강남  김지수  304.3
여의도 김민철  150.8
    최재우  227.3

## 본격적인 데이터 추가 및 수정

In [73]:
data["몸무게(gram)"] = data["몸무게"] * 1000

In [76]:
data["과체중"] = data["몸무게"] > 75.8

In [82]:
data.loc[ data["몸무게"] > 75.8 , "상태"]  = "과체중"

In [83]:
data.loc[ data["몸무게"] <=75.8 , "상태"]  = "정상"

In [84]:
data

,이름,측정일,몸무게,단위,담당,지점,몸무게(prev),몸무게(next),지역,결제,몸무게(gram),과체중,상태
회차,,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,NaN,75.7,서울,True,76400.0,True,과체중
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.4,76.0,서울,True,75700.0,False,정상
3,강성희,2019-01-03,76.0,kg,김지수,강남,75.7,75.8,서울,True,76000.0,True,과체중
4,강성희,2019-01-04,75.8,kg,최재우,여의도,76.0,76.2,서울,True,75800.0,False,정상
5,강성희,2019-01-05,76.2,kg,김지수,강남,75.8,75.7,서울,False,76200.0,True,과체중
6,강성희,2019-01-06,75.7,kg,최재우,여의도,76.2,75.8,서울,True,75700.0,False,정상
7,강성희,2019-01-07,75.8,kg,최재우,여의도,75.7,75.8,서울,True,75800.0,False,정상
8,강성희,2019-01-08,75.8,kg,김민철,여의도,75.8,75.0,서울,False,75800.0,False,정상
9,강성희,2019-01-09,75.0,kg,김민철,여의도,75.8,NaN,서울,True,75000.0,False,정상

## 컬럼삭제

In [86]:
data.drop("과체중",axis="columns")

,이름,측정일,몸무게,단위,담당,지점,몸무게(prev),몸무게(next),지역,결제,몸무게(gram),상태
회차,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,NaN,75.7,서울,True,76400.0,과체중
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.4,76.0,서울,True,75700.0,정상
3,강성희,2019-01-03,76.0,kg,김지수,강남,75.7,75.8,서울,True,76000.0,과체중
4,강성희,2019-01-04,75.8,kg,최재우,여의도,76.0,76.2,서울,True,75800.0,정상
5,강성희,2019-01-05,76.2,kg,김지수,강남,75.8,75.7,서울,False,76200.0,과체중
6,강성희,2019-01-06,75.7,kg,최재우,여의도,76.2,75.8,서울,True,75700.0,정상
7,강성희,2019-01-07,75.8,kg,최재우,여의도,75.7,75.8,서울,True,75800.0,정상
8,강성희,2019-01-08,75.8,kg,김민철,여의도,75.8,75.0,서울,False,75800.0,정상
9,강성희,2019-01-09,75.0,kg,김민철,여의도,75.8,NaN,서울,True,75000.0,정상

In [88]:
data = data.drop(["과체중","몸무게(prev)","몸무게(next)"],axis="columns")
data

     이름        측정일   몸무게  단위   담당   지점  지역     결제  몸무게(gram)   상태
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남  서울   True    76400.0  과체중
2   강성희 2019-01-02  75.7  kg  김지수   강남  서울   True    75700.0   정상
3   강성희 2019-01-03  76.0  kg  김지수   강남  서울   True    76000.0  과체중
4   강성희 2019-01-04  75.8  kg  최재우  여의도  서울   True    75800.0   정상
5   강성희 2019-01-05  76.2  kg  김지수   강남  서울  False    76200.0  과체중
6   강성희 2019-01-06  75.7  kg  최재우  여의도  서울   True    75700.0   정상
7   강성희 2019-01-07  75.8  kg  최재우  여의도  서울   True    75800.0   정상
8   강성희 2019-01-08  75.8  kg  김민철  여의도  서울  False    75800.0   정상
9   강성희 2019-01-09  75.0  kg  김민철  여의도  서울   True    75000.0   정상